# Database
SQLITE_CONNECTION=Data Source=/app/data/sibers.db
REDIS_CONNECTION=redis:6379

# JWT
JWT_SECRET_KEY=
JWT_ISSUER=sibers-api
JWT_AUDIENCE=sibers-client

# HTTPS
CERT_PASSWORD=

# Client
CLIENT_WEB_VUE=https://localhost:5173
